
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    background-color: #ad9a96;
    color: #47294c;
}
 
.navbar {
  overflow: hidden;
  background-color: #47294c;
  /* position: fixed; */
  top: 0;
  width: 100%;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
}

.navbar h1{
  padding-left: 25px;
  color: #faf4fc;
  font-size: 50px;


} 
  
 .navbar a {
    display: inline-block;
    color: #faf4fc;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 21px;

}

.navbar a:hover {
    color:#47294c;
    background-color: #faf4fc;
    border-radius: 55px;
}
.navbar a:active{
font-weight: bolder;
color: #503529;
background-color: #faf4fc;

}
.search{
  background-color: #47294c;
}

  form.search input[type=text] {
   padding-left: 90px;
    font-size: 17px;
    border: 1px solid #47294c;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin-top: 15px;
    display: flex;
  }

  
  form.search button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  .search{
    box-sizing: border-box;
    display: flex;
 
  }
  .dog-info{
    display:inline-block;
    text-align: center;
    padding-left: 180px;
    padding-top: 25px;

  }

  .rescue{
    float: right;
    width: 400px;
    height: 333px;
    background-color: aliceblue;
    
  }
  .adopapplication{
    width: 220px;
    height: 100px;
    float: right;
    color: white;
    margin-top: 90px;

  }
  img{
    border-radius: 10px;
  }
  .rescue{
    color: #faf4fc;
    background-color: #816f7d;
    border-radius: 10px;

  }

  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .mainLoginInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: poppins, Arial, Helvetica, sans-serif;
    opacity: 1;
    /* Firefox */
  }
  
  .mainLoginInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: poppins, Arial, Helvetica, sans-serif;
  }
  
  .mainLoginInput::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: poppins, Arial, Helvetica, sans-serif;
  }
  

  h1 {
    padding: 2rem 0;
  }
  
  input,
  select,
  button,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
  }
  
  .container {
    box-sizing: border-box;
    margin: 50px auto;
  }
  
  .header {
    text-align: center;
    margin: 50px auto;
    width: 70%;
  }
  
  form {
    background-color: #faf4fc;
    padding: 2.5rem 0.625rem;
    border-radius: 0.5rem;
  }
  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  
  @media (min-width: 560px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  .label-item {
    font-weight: 600;
    line-height: 1.025rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    line-height: 1.4rem;
  }
  
  .clue {
    font-weight: 400;
    padding: 0.25rem;
    font-size: 0.8rem;
  }
  
  .form-control,
  .input-textarea {
    display: block;
    padding: 0 0 0 5px;
    width: 100%;
    padding: 0.375rem 0.75rem;
  }
  
  
  .input-textarea {
    width: 100%;
    min-height: 120px;
    resize: vertical;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .form-item {
    margin: 0 auto 1rem auto;
    padding: 0.25rem;
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
  }
  
  #submit-explain {
    text-align: center;
    font-style: italic;
  }
  
  #submit {
    display: block;
    width: 200px;
    cursor: pointer;
    background: #005AFF;
    border: 2px solid #005AFF;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-weight: bold;
  }
  
  #submit:hover {
    transform: scale(1.2, 1.2);
  }
