
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    background-color: #ffa500;

  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 2;
    padding: 30px;
    background-color: rgb(121, 83, 14);
    margin:auto;

  }
  
  .navbar a {
    font-weight: bold;
    float: left;
    font-size: 16px;
    color: rgb(14, 1, 1);
    text-align: center;
    text-decoration: none;
    padding: 30px;
  }

  
  .navbar a:hover{
    background-color: rgb(103, 73, 73);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(75, 75, 174);
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  .logo{
    float: left;
    color: pink;
  }

  form.search input[type=text] {
   padding-left: 90px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin-top: 15px;
    display: flex;
  }
  
  form.search button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  .search{
    box-sizing: border-box;
    display: flex;
 
  }

  .rescue{
    float: right;
    width: 400px;
    height: 333px;
    background-color: aliceblue;
    
  }
  .adopapplication{
    font-family: 'Courier New', Courier, monospace;
    width: 220px;
    height: 100px;
    float: right;
    background-color: orange;
    color: white;
    
  
    margin-top: 90px;

  }
  .rescue{
    background-color: orange;
  }
  .navbar h1{
    padding-right: 25px;
    color: rgb(86, 28, 117);
    margin-left: -55px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .mainLoginInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: poppins, Arial, Helvetica, sans-serif;
    opacity: 1;
    /* Firefox */
  }
  
  .mainLoginInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: poppins, Arial, Helvetica, sans-serif;
  }
  
  .mainLoginInput::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: poppins, Arial, Helvetica, sans-serif;
  }
  

  h1 {
    padding: 2rem 0;
  }
  
  input,
  select,
  button,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
  }
  
  .container {
    box-sizing: border-box;
    margin: 50px auto;
  }
  
  .header {
    text-align: center;
    margin: 50px auto;
    width: 70%;
  }
  
  form {
    background: #ffa500;
    padding: 2.5rem 0.625rem;
    border-radius: 0.5rem;
  }
  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  
  @media (min-width: 560px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  .label-item {
    font-weight: 600;
    line-height: 1.025rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    line-height: 1.4rem;
  }
  
  .clue {
    font-weight: 400;
    padding: 0.25rem;
    font-size: 0.8rem;
  }
  
  .form-control,
  .input-textarea {
    display: block;
    padding: 0 0 0 5px;
    width: 100%;
    padding: 0.375rem 0.75rem;
  }
  
  
  .input-textarea {
    width: 100%;
    min-height: 120px;
    resize: vertical;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .form-item {
    margin: 0 auto 1rem auto;
    padding: 0.25rem;
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
  }
  
  #submit-explain {
    text-align: center;
    font-style: italic;
  }
  
  #submit {
    display: block;
    width: 200px;
    cursor: pointer;
    background: #005AFF;
    border: 2px solid #005AFF;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-weight: bold;
  }
  
  #submit:hover {
    transform: scale(1.2, 1.2);
  }
