
body {
    text-align: center;
    padding: 100px 60px;
    background: #fcb4b4;
    font-family: sans-serif;
    font-weight: lighter;
}

#timer div span {
    color: #f9f0f0;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}
#timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    padding: 20px;
    width: 700px;
    color: white;

}

#timer div {
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: #ea6c80;
    border-radius: 10px;
    border: 2px solid white;
    margin: 15px;
}
#header{
    color: #ffd9be;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Cedarville Cursive', cursive;
}